<ion-app>
  <ion-menu color="dark" side="end" type="overlay" menuId="first" contentId="main">
    <ion-content>
      <ion-list id="inbox-list">
        <ion-list-header>
          <ion-toolbar color="clear">
            <ion-buttons slot="start" class="ion-padding-start">
              <!-- <ion-icon src="../assets/sgicons/logo.svg"></ion-icon> -->
            </ion-buttons>
            <ion-title style="font-size: 25px; text-transform: capitalize;padding: 0;font-weight: 900;font-family:unset;color: var(--ion-color-dark);">Explore</ion-title>
          </ion-toolbar>
        </ion-list-header>
        <ion-menu-toggle auto-hide="true" *ngFor="let pages of navigate; let i = index" >
          <ion-item style="padding: 0px 20px;"  [routerLink]="['home',pages.url]" lines="none" detail="false" routerLinkActive="select-item" >
                  <ion-avatar>
                    <ion-icon [src]="pages.icon"></ion-icon>
                  </ion-avatar> 
                  <ion-label>
                    {{pages.title}}
                  </ion-label>  
            </ion-item>
        </ion-menu-toggle> 
      </ion-list>
      

    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main" ></ion-router-outlet>
</ion-app>
