<ion-toolbar color="dark" style="z-index: 1000;">
  <ion-buttons slot="start" class="ion-no-margin">
    <ion-back-button defaultHref="/home"></ion-back-button>
    <!-- <ion-icon src="../../assets/sgicons/logo.svg" alt="logo"></ion-icon> -->
  </ion-buttons>
  <ion-title size="large">NASA Library</ion-title>
  <ion-buttons slot="end" >
    <ion-menu-button style="font-size: 2rem;color: white;"></ion-menu-button>
  </ion-buttons>
</ion-toolbar>

<ion-content  color="dark">
  <div class="src-bar">
    <ion-searchbar showCancelButton="focus" [(ngModel)]="q" (ionChange)="searchLib()"></ion-searchbar>
    <span>Filter : </span>
    <ion-buttons slot="end" class="" >
      <ion-button slot="start" fill="solid" color="primary"  >
          <ion-select [value]="media" #md (ionChange)="changeMY(md,yr)" placeholder="Media" value="all">
            <ion-select-option value="all">All Media</ion-select-option>
            <ion-select-option value="image">Image</ion-select-option>
            <ion-select-option value="video">Video</ion-select-option>
            <ion-select-option value="audio">Audio</ion-select-option>
          </ion-select>
      </ion-button>
      <ion-button class="date-time" fill="solid" color="secondary" >
        <ion-datetime [value]="year" #yr  displayFormat="YYYY" (ionChange)="changeMY(md,yr)" pickerFormat="YYYY" placeholder="Year"  color="secondary" ></ion-datetime>
      </ion-button>
    </ion-buttons>
  </div>
  <div class="ion-padding-vertical" *ngIf="load">
    <div class="src-items">
      <div class="src-content ion-activatable ripple-parent" *ngFor="let item of data" (click)="presentModal(item)">
        <div class="thumb-img" *ngIf="item.links">
          <div *ngIf="item.data[0].media_type === 'video'" class="play-vid">
            <ion-icon name="play"></ion-icon>
          </div>
          <ion-img style="width: 105%;" *ngIf="item.links[0].href" [src]="item.links[0].href"></ion-img>
        </div>
        <div class="pod" *ngIf="!item.links">
          <div *ngIf="item.data[0].media_type === 'audio'" class="play-vid">
            <ion-icon name="mic"></ion-icon>
          </div>
        </div>
        <div class="src-desc">
          <span>{{timefun(item.data[0].date_created)}} ago</span>
          <p>{{item.data[0].title}}</p>
        </div>
        <ion-ripple-effect></ion-ripple-effect>
      </div>
              
    </div>
    <ion-infinite-scroll threshold="100px" 
                            [disabled] = "finished"
                            color="primary"
                            (ionInfinite)="loadData($event)">
          <ion-infinite-scroll-content
            loadingSpinner="circular">
          </ion-infinite-scroll-content>
        </ion-infinite-scroll>

  </div>
  <div *ngIf="!load" color="dark" class="container ion-text-center">
    <ion-spinner color="primary" style="margin-top:100px;"></ion-spinner>
  </div>
</ion-content>  