<ion-toolbar color="dark" style="z-index: 1000;">
  <ion-buttons slot="start" class="ion-no-margin">
    <ion-back-button defaultHref="/home"></ion-back-button>
    <!-- <ion-icon src="../../assets/sgicons/logo.svg" alt="logo"></ion-icon> -->
  </ion-buttons>
  <ion-title size="large">Earth Imagery</ion-title>
  <ion-buttons slot="end" >
    <ion-menu-button style="font-size: 2rem;color: white;"></ion-menu-button>
  </ion-buttons>
</ion-toolbar>

<ion-content  color="dark">
<div *ngIf="data" class="container" > 
  <!-- <div class="stars"></div>  -->
  <div class="pad-10 filter">
    <ion-buttons slot="end" class="" >
      <ion-button slot="start" fill="solid" color="primary">
          <ion-select [value]="category" #catg (ionChange)="getCategory(catg,dg)" >
            <ion-select-option value="natural">Natural Image</ion-select-option>
            <ion-select-option value="enhanced">Enhanced Image</ion-select-option>
          </ion-select>
      </ion-button>
      <ion-button class="date-time" fill="solid" color="secondary" >
        <ion-datetime [value]="date" #dg (ionChange)="getCategory(catg,dg)"  displayFormat="MMM-DD-YYYY" pickerFormat="YYYY-MMMM-DD"  color="secondary" ></ion-datetime>
        <ion-icon name="calendar"></ion-icon>
      </ion-button>
      <ion-button slot="end" fill="solid" color="tertiary" (click)="autoPlay()">
        <ion-icon  *ngIf="autoValue" name="play"></ion-icon>
        <ion-icon  *ngIf="!autoValue" name="pause"></ion-icon>
      </ion-button>
    </ion-buttons>
    
  </div>
  <div class="pad-10 title">
    <ion-toolbar color="">
    <ion-text size="large">EPIC</ion-text>
  </ion-toolbar>
  </div>
  <div class="simg" *ngIf="response.length != 0">
    <ion-slides *ngIf="autoValue" pager="true" [options]="sliderOpt"  (click)="stopPlay()">
      <ion-slide *ngFor="let img of response">
        <div class="swiper-zoom-container">
          <img [src]="getimg(img.image)" alt="img">
        </div>
      </ion-slide>
    </ion-slides>
    <ion-slides *ngIf="!autoValue" [options]="sliderOpt1"  (click)="stopPlay()">
      <ion-slide *ngFor="let img of response">
        <div class="swiper-zoom-container">
          <img [src]="getimg(img.image)" alt="img">
        </div>
      </ion-slide>
    </ion-slides>
  </div>
  <div *ngIf="response.length == 0">
    <h4>No Data</h4>
  </div>
  <!-- <div class="story title pad-10 ion-padding-bottom">
    <h3 size="large" class="ion-no-margin">Story behind it : </h3>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eius maxime nisi alias. Repellat quasi unde quae expedita deleniti sapiente ipsam, beatae architecto maiores nisi adipisci itaque fuga suscipit ipsa esse!</p>
  </div> -->
</div>

<div *ngIf="!data" color="dark" class="container ion-text-center">
  <ion-spinner color="primary" style="margin-top:100px;"></ion-spinner>
</div>
</ion-content> 
